body{
  color: white;
}

* {
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.side-bar-container {
  flex-grow: 1;
  font-weight: 700;
  transform: color;
  transition-duration: 0.2s;
}
#profile {
  background-image: url(https://twirpz.files.wordpress.com/2015/06/twitter-avi-gender-balanced-figure.png?w=640);
  background-size: contain;
}

.text-active:active {
  color: #0ea5e9;
  border: solid 1px #0ea5e9;
}

.text-active {
  cursor: text;
}
